.nav-link:hover {
    background-color: grey;
    color: white;
}

.nav-link{
    color: white;
}

html {
    scroll-behavior: smooth;
}

.fondo-texto{
    background-color: rgba(0, 0, 0, 0.447);
    border-radius: 15px;
}

.redondeo-img{
    border-radius: 15px;
}

.texto-precio{
    font-size: 18px;
}